@media screen and (max-width: 599px) {
  footer {
    min-width: 92%;
  }

  article,
  main {
    width: 90%;
  }

  .cv-portfolio {
    display: flex;
    flex-direction: column;
  }
  .ncn-label,
  .git-label,
  .nht-label {
    background-color: rgba(102, 102, 51, 0.8);
    color: white;
  }
}

@media screen and (min-width: 600px) {
  article,
  main {
    width: 60%;
  }
  footer {
    min-width: 62%;
  }

  .cv-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      'cvp-title cvp-title cvp-title'
      'ncn-title none none'
      'ncn-title none none'
      'git-title none none'
      'git-title none none'
      'nht-title none none'
      'nht-title none none';
  }

  .ncn-title {
    grid-area: ncn-title;
  }

  .git-title {
    grid-area: git-title;
  }

  .nht-title {
    grid-area: nht-title;
  }

  .git-label,
  .git-link {
    background-color: rgba(102, 102, 51, 0.8);
    color: white;
  }
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(102, 102, 51);
}

.router {
  width: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

footer {
  background-color: rgba(102, 102, 51, 0.9);

  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5em 1.5%;
  color: white;
  font-weight: 600;
  font-size: 12pt;
  /* border: solid black 3px; */
}

footer a {
  color: white;
}

article,
main {
  padding: 0 2.5%;
  flex: 1 1 auto;
  background-color: rgb(255, 255, 255, 0.8);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

h1 {
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  flex: auto;
  margin: 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5em 0;
}

.header-text {
  text-align: center;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#cv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cv p {
  margin: 0;
  padding: 5px;
}
#cv h3 {
  background-color: rgba(102, 102, 51);
  color: white;
  margin: 0;
  padding: 5px;
}
#cv h4 {
  padding: 5px;
}
#cv > section {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.6);
}

.cv-grey {
  background-color: rgba(102, 102, 51, 0.8);
  color: white;
}

.cv-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cv-intro p {
  width: 90%;
  align-self: center;
}

.cvp-title {
  grid-area: cvp-title;
}

.ncn-title,
.git-title,
.nht-title {
  background-color: rgba(102, 102, 51);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

ul.cv-skills {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
ul.cv-skills li {
  text-align: center;
  padding: 5px;
}

.exp-job {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 'exp-title exp-title';
}

.exp-title {
  grid-area: exp-title;
}

.edu-alevel ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0;
}

.edu-alevel li {
  padding: 0 5px;
}
